@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}
[class|="sect"][class*="chart"] .box-image {
    position: relative;
    width: 197px;
    min-height: 272px;
    margin-bottom: 10px;
}

div {
    display: block;
}
.like {
    display: inline-block;
    margin-right: 3px;
}
li {
    text-align: -webkit-match-parent;
}
body {
    line-height: 1;
    color: black;
}
body, input, textarea, select, button, table {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}
ol, ul {
    list-style: none;
}
ol {
    list-style-type: decimal;
}
body {
    line-height: 1;
    color: black;
}
body, input, textarea, select, button, table {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}
 .rank {
    display: block;
    height: 28px;
    margin-bottom: 4px;
    /* border: 6px solid #000000; */
    background: #333333;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 28px;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div[class^="sect-"]:after {
    content: '';
    clear: both;
    display: block;
}
.tit-heading-wrap > h3 {
    display: inline-block;
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none;
    color: #222;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    vertical-align: middle;
}
div{
	display: block;
}element.style {
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, a {
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
#live{
	font-weight: bold;	
	color: red;
}
p, ul li, ol li {
    margin: 0;
    font-size: 14px;
}
ul li, ol li {
    font-size: 14px;
}
ul li, ol li {
    font-size: 14px;
}
ul li, ol li {
    font-size: 14px;
}
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
html, body {
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
    margin: 0;
}
html, body {
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
html, body {
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
}
html, body {
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
}
jsp, body {
    font-size: 100%;
    background: black;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body, input, textarea, select, button, table {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}
body {
    line-height: 1;
    color: black;
}
body, input, textarea, select, button, table {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}
body {
    line-height: 1;
    color: black;
}
h6{
	text-align: center;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*  img{
	width: 200px;
	height: 200px;

	
}  */

[class|="sect"][class*="chart"] > h3:first-child + ol .rank, [class|="sect"][class*="chart"] > h4:first-child + ol .rank, [class|="sect"][class*="chart"] > .spec + ol .rank {
    background: #fb4357;
}

#contaniner {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 7;
}
#contents {
    clear: both;
    padding-bottom: 50px;
    position: relative;
    width: 980px;
    margin: 0 auto;
}


.rank{
	display:block;
	height: 28px;
	margin-bottom: 4px;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 28px;
	
}
.sect-sorting {
    position: relative;
    margin-top: 20px;
    text-align: right;
}
strong{
	font-weight: 500;
	
}
strong[class]
#strong{
	background-color: #9b9aa5;
	color: white;
	border-radius: 10px;
}
.tit-heading-wrap {
    position: relative;
    height: 60px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
}
#reservation{
	border-color: #ffffff;
	font-weight: bold;
	color:white;
	background-color: red;
	
}
#detailShow{
	border-color: #ffffff;
	font-weight: bold;
	color: white;
	background-color: black;
}
