@charset "UTF-8";
/* 하단 부분 전체 디자인
*/
li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    
}
.contactus {
    border: 1px solid #e2e2e2;
    text-align: center;
    border-radius: 8px;
    background: url(/resources/images/contact3.png) no-repeat;
    background-size: 145px 100%;
    margin: 10px 0;
    word-break: break-all;
}


.contactus li:first-child {
    float: left;
    width: 125px;
}


button, select, input, textarea, label, img {
    font: inherit;
    border: 0;
}

type {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 2px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    height: 34px;
    line-height: 32px;
    font-size: 14px;
}

.board_search .search .sch_tbox label + input {
    border-radius: 3px;
}
.board_search .search .sch_tbox input {
    width: 35%;
    padding: 0 0.5%;
    border-radius: 0;
    border-color: #ddd;
    border-radius: 0 3px 3px 0;
}
input[type="text"] {
    border-radius: 16px;
    border: 2px solid #ddd;
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.btn.sch:hover, .btn.sch:focus {
    background-color: #508c28;
}

.btn-default{
    color: white;
}
.btn.sch {
    right: 0;
    top: 0;
    border-radius: 3px;
    background-color: #063863;
}

.page{
	text-align: center;
}
.btn.sch {
    border: 0;
    padding: 0;
    width: 74px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 15px;
    background : #063863; 
    text-align: center;
    color: #063863;
    font-weight: normal;
    background: url(/resources/images/contact3.png) no-repeat 15px center;
    padding: 0 10px 0 25px;
    position: absolute;
    top: 34%;
    left: 0;
}

.contactus li:last-child {
    width: auto;
    padding: 10px 110px 10px 50px;
    font-weight: normal;
    font-size: 15px;
    -webkit-text-size-adjust: none;
    line-height: 2;
    color: #000;
    word-wrap: break-word;
    font-family: 'Malgun Gothic','맑은 고딕', '돋음','Dotum','Apple SD Gothic Neo', Arial, Helvetica, sans-serif;
    letter-spacing: -0.7px;
    word-break: break-all;
    margin: 0;
    list-style: none;
}

.contactus:after {
    clear: both;
    display: block;
    content: "";
}

.panel-body {
    padding: -10px;
}

tr{         
	border: 2px solid #ddd;
	border-radius: 30%;
    background-color: #fff;
    height: 34px;
    font-size: 14px;
}

table table-hover {
	border: 2px solid #ddd;
	border-radius: 16px;
    background-color: #fff;
    height: 34px;
    font-size: 14px;
}


.a1 {
	border-radius: 16px;
	border: 2px solid #ddd;
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}


select {
	border-radius: 16px;
	border: 2px solid #ddd;
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.row {
    margin: 0px auto;
    width: 830px;
    background-color: #fff;
}

/* ul li {
    margin: 30px;
    font-size: 20px;
} */