@charset "UTF-8";

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.contactus {
    border: 1px solid #e2e2e2;
    display: block;
    position: relative;
    border-radius: 3px;
    background: url(/resources/images/icon_contactus_bg.png) no-repeat;
    background-size: 145px 100%;
    margin: 20px 0;
    word-break: break-all;
}

.contactus li:first-child {
    float: left;
    width: 125px;
    text-align: center;
    color: #063863;
    font-weight: normal;
    background: url(/resources/images/contact3.png) no-repeat 15px center;
    padding: 0 10px 0 25px;
    position: absolute;
    top: 34%;
    left: 0;
}

.contactus li:last-child {
    float: left;
    width: auto;
    padding: 15px 15px 15px 165px;
    font-weight: normal;
}

.contactus:after {
    clear: both;
    display: block;
    content: "";
}