@charset "UTF-8";


.test_obj input[type="radio"] {
        display: none;
}
 
.test_obj input[type="radio"] + span {
        display: inline-block;
        padding: 15px 10px;
        border: 2px solid #dfdfdf;
        background-color: #fff;
        text-align: center;
        cursor: pointer;
        border-radius: 16px;
	
}
 
.test_obj input[type="radio"]:checked + span {
        background-color: #113a6b;
        color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.panel-body {
    font-size: 14px;
    color: #999;
    width: 990px;
    padding-right: 174px;
    padding-left: 1px;   
    margin-right: auto;
    margin-left: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
}

.row {
    margin: 0px auto;
    width: 953px;
}