<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.CscMapper">

<!-- 고객센터글 select all -->
 <select id="listAll" resultType="com.company.domain.CscDTO">
	<!-- select CscBno,CscTitle,CscContent,CscRegdate,CscRfi,CscAnswer,CscWriter
 from csc_tbl -->
 
 
 select Csc_Bno,Csc_Title,Csc_Regdate,Csc_Rfi,user_id
 from csc_tbl order by Csc_Bno
 
</select>

<!-- 게시글 하나 가져오기 -->
	<select id="read" resultType="com.company.domain.CscDTO">
		select Csc_Bno,user_id,Csc_Rfi,Csc_Title,csc_content,csc_answer
		from csc_tbl
		where Csc_Bno=#{CSC_BNO}
	</select>

<!-- 게시글 작성 -->
	<insert id="insert1">
		<selectKey resultType="int" keyProperty="CSC_BNO" order="BEFORE">
       select CSC_bno_seq.nextval from dual   
    </selectKey>    

		<!-- <selectKey keyProperty="Csc_bno" order="BEFORE" resultType="int">
			select seq_board.nextval from dual
		</selectKey> -->
		<!-- insert into csc_tbl(Csc_Bno,Csc_Title,csc_content,csc_regdate,csc_rfi,user_id)
		values(CSC_bno_seq.nextval,#{Csc_Title},#{csc_content},sysdate,#{csc_rfi},#{user_id}) -->
		
		insert into csc_tbl(CSC_BNO,Csc_Title,csc_content,csc_regdate,CSC_RFI,user_id)
		values(#{CSC_BNO},#{CSC_TITLE},#{CSC_CONTENT},sysdate,#{CSC_RFI},#{user_id})
	</insert>


</mapper>