<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.UserMapper">

<!-- 회원 가입 -->
<insert id="insert">
	insert into user_tbl(user_id,user_password,user_name,user_birth,user_email,user_tel,user_regdate)
	values(#{user_id},#{user_password},#{user_name},#{user_birth},#{user_email},#{user_tel},sysdate)
</insert>

<!-- 권한 부여 -->
<insert id="auth">
	insert into auth_tbl(authority, user_id)
	values(#{authority}, #{user_id})
</insert>

<!-- 중복 아이디 -->
<select id="selectById" resultType="com.company.domain.UserDTO">
	select * from user_tbl where user_id=#{user_id}
</select>


<!-- 로그인 -->
<select id="login" resultType="com.company.domain.PwdDTO">
	SELECT USER_ID, USER_PASSWORD FROM USER_TBL WHERE USER_ID=#{USER_ID} AND USER_PASSWORD=#{USER_PASSWORD}
</select>

<resultMap type="com.company.domain.UserDTO" id="movieMap">
	<id property="user_id" column="user_id"/>
	<result property="user_password" column="user_password"/>
	<result property="user_name" column="user_name"/>
	<result property="user_birth" column="user_birth"/>
	<result property="user_email" column="user_email"/>
	<result property="user_tel" column="user_tel"/>
	<result property="user_regdate" column="user_regdate"/>
	<result property="user_enable" column="user_enable"/>

	<collection property="authList" resultMap="authMap"/>
	
</resultMap>
	
<resultMap type="com.company.domain.AuthDTO" id="authMap">
	<result property="user_id" column="user_id"/>
	<result property="authority" column="authority"/>
</resultMap>

<select id="signin" resultMap="movieMap">
	select s1.user_id, user_password, user_name, user_birth, user_email, user_tel, user_regdate, user_enable, authority from user_tbl s1 left outer join auth_tbl s2 on s1.user_id = s2.user_id where s1.user_id = #{user_id}
</select>

<delete id="delete" >
	delete from user_tbl
	where user_id=#{user_id}
</delete>

<delete id="authDelete" >
	delete from auth_tbl
	where user_id=#{user_id}
</delete>

<!-- 삭제할때 인코딩 후 비밀번호 받아오기 -->
<select id="findByPwd" resultType="java.lang.String">
	select user_password from user_tbl where user_id = #{user_id}
</select>

<!-- 비밀번호 수정 -->
<update id="modify">
	update user_tbl 
	set user_password=#{confirm_password} 
	where user_id=#{user_id} and user_password=#{user_password}
</update>


</mapper>

